<template>
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step
          :complete="e1 > 1"
          step="1"
      >
        캠페인 등록
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step
          :complete="e1 > 2"
          step="2"
      >
        광고그룹 등록
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        소재 등록
      </v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <default-campaign-add
            :propData="cmpName"
            v-on:update:dataSetting="setCmpName"></default-campaign-add>
        {{cmpName}}
        <v-row justify="center">
          <v-btn
              color="primary"
              @click="e1 = 2"
          >
            저장하고 계속하기
          </v-btn>

          <v-btn color="error" class="ml-8">
            취소
          </v-btn>
        </v-row>

      </v-stepper-content>

      <v-stepper-content step="2">

        <default-adgroup-add :propData="cmpName"></default-adgroup-add>
        <v-row justify="center">
          <v-btn @click="e1 = 1">
            이전
          </v-btn>

          <v-btn class="ml-8"
                 color="primary"
                 @click="e1 = 3"
          >
            저장하고 계속하기
          </v-btn>

          <v-btn color="error" class="ml-8">
            취소
          </v-btn>
        </v-row>

      </v-stepper-content>

      <v-stepper-content step="3">

        <default-item-add adgroupData="adgroupName"></default-item-add>
        <v-row justify="center">
          <v-btn @click="e1 = 2">
            이전
          </v-btn>

          <v-btn class="ml-8"
                 color="primary"
                 @click="e2"
          >
            저장
          </v-btn>

          <v-btn color="error" class="ml-8">
            취소
          </v-btn>
        </v-row>



      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import DefaultGoHome from "@/layouts/default/widgets/GoHome";
import DefaultCampaignAdd from "@/layouts/default/CampaignAdd";
import DefaultAdgroupAdd from "@/layouts/default/AdgroupAdd";
import DefaultItemAdd from "@/layouts/default/ItemAdd";

export default {
  name: "CreateCampaign",
  components: {DefaultCampaignAdd,DefaultAdgroupAdd,DefaultItemAdd, DefaultGoHome},
  data () {
    return {
      e1: 1,
      cmpName:'',
      adgroupName:''
    }
  },
  methods:{
    setCmpName (value){
      console.log(value);
      this.cmpName = value;
    },
    e2(){
      location.href='/'
    }
  }
}
</script>

<style scoped>

</style>