<template>
  <v-container
      id="dashboard-view"
      fluid
      tag="section"
  >
    <v-row justify="space-between">
      <v-col md="8">
        <v-btn color="primary" to="/campaign/add">
          +광고 만들기
        </v-btn>

        <v-btn color="primary" class="ma-2">
          ON
        </v-btn>

        <v-btn color="error">
          OFF
        </v-btn>

          <v-btn color="error" class="ma-2">
            삭제
          </v-btn>
        <v-btn>
          복사
        </v-btn>
      </v-col>
      <v-col offset-md="2" md="2" sm="2">
        <v-btn>Download</v-btn>
      </v-col>
    </v-row>

    <v-row>
    <v-col
        cols="12"
        md="12"
    >
      <material-card color="orange" full-header>

        <v-card-text>
          <v-data-table
              :headers="headers"
              :items="items"
              item-key="name"
              show-select
              class="elevation-1">

          <template v-slot:item.id="{item}">
            <v-switch
                v-model="item.cmpStatus"
            ></v-switch>
          </template>
          </v-data-table>
        </v-card-text>
      </material-card>
    </v-col>
    </v-row>
  </v-container>
</template>

<script>
// Utilities
import {get} from 'vuex-pathify'
import Vue from 'vue'

const lineSmooth = Vue.chartist.Interpolation.cardinal({
  tension: 0,
})

export default {
  name: 'DashboardView',

  data: () => (
      {
        switch1: true,
        switch2: false,
    charts: [{
      type: 'Bar',
      color: 'primary',
      title: 'Website Views',
      subtitle: 'Last Campaign Performance',
      time: 'updated 10 minutes ago',
      data: {
        labels: ['Ja', 'Fe', 'Ma', 'Ap', 'Mai', 'Ju', 'Jul', 'Au', 'Se', 'Oc', 'No', 'De'],
        series: [
          [542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895],
        ],
      },
      options: {
        axisX: {
          showGrid: false,
        },
        low: 0,
        high: 1000,
        chartPadding: {
          top: 0,
          right: 5,
          bottom: 0,
          left: 0,
        },
      },
      responsiveOptions: [
        ['screen and (max-width: 640px)', {
          seriesBarDistance: 5,
          axisX: {
            labelInterpolationFnc: function (value) {
              return value[0]
            },
          },
        }],
      ],
    },
      {
      type: 'Line',
      color: 'success',
      title: 'Daily Sales',
      subtitle: '<i class="mdi mdi-arrow-up green--text"></i><span class="green--text">55%</span>&nbsp;increase in today\'s sales',
      time: 'updated 4 minutes ago',
      data: {
        labels: ['12am', '3pm', '6pm', '9pm', '12pm', '3am', '6am', '9am'],
        series: [
          [230, 750, 450, 300, 280, 240, 200, 190],
        ],
      },
      options: {
        lineSmooth,
        low: 0,
        high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0,
        },
      },
    }, {
      type: 'Line',
      color: 'info',
      title: 'Completed Tasks',
      subtitle: 'Last Campaign Performance',
      time: 'campaign sent 26 minutes ago',
      data: {
        labels: ['M', 'T', 'W', 'T', 'F', 'S', 'S'],
        series: [
          [12, 17, 7, 17, 23, 18, 38],
        ],
      },
      options: {
        lineSmooth,
        low: 0,
        high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
        chartPadding: {
          top: 0,
          right: 0,
          bottom: 0,
          left: 0,
        },
      },
    }],
        headers: [
          {
            sortable: false,
            text: 'ON/OFF',
            value: 'id',
          },
          {
            sortable: true,
            text: '상태',
            value: 'status',
          },
          {
            sortable: true,
            text: '캠페인 이름',
            value: 'campaignName',
          },
          {
            sortable: true,
            text: '기간',
            value: 'period',
          },
          {
            sortable: true,
            text: '예산',
            value: 'budget',
            align: 'right',
          },
          {
            sortable: true,
            text: '상품',
            value: 'product',
          },
          {
            sortable: true,
            text: '과금체계',
            value: 'priceType',
          },
          {
            sortable: true,
            text: '노출수',
            value: 'impression',
            align: 'right',
          },
          {
            sortable: true,
            text: '광고비',
            value: 'price',
            align: 'right',
          },
        ],
        items: [
          {
            cmpStatus: true,
            id: 'ON',
            status: '노출 가능',
            campaignName: '버거킹',
            period: '2021-02-01 ~ 2021-02-28',
            budget: '1,000,000',
            product: '정류장안내배너',
            priceType: 'cpm',
            impression: '670',
            price: '5,025원',
          },
          {
            cmpStatus: true,
            id: 'ON',
            status: '노출 가능',
            campaignName: '안성종로기숙학원',
            period: '2021-01-01 ~ 2021-03-31',
            budget: '450,000',
            product: '브랜딩광고',
            priceType: 'cpv',
            impression: '600',
            price: '6,000원',
          },
          {
            cmpStatus: false,
            id: 'OFF',
            status: '중지: 캠페인 OFF',
            campaignName: '필립잉글리쉬',
            period: '2021-01-01 ~ 2021-01-31',
            budget: '150,000',
            product: '정류장안내배너',
            priceType: 'cpm',
            impression: '0',
            price: '0원',
          },
        ],
    stats: [
      {
        actionIcon: 'mdi-alert',
        actionText: 'Get More Space...',
        color: '#FD9A13',
        icon: 'mdi-sofa-single',
        title: 'Bookings',
        value: '184',
      },
      {
        actionIcon: 'mdi-tag',
        actionText: 'Tracked from Google Analytics',
        color: 'primary',
        icon: 'mdi-chart-bar',
        title: 'Website Visits',
        value: '75.521',
      },
      {
        actionIcon: 'mdi-calendar-range',
        actionText: 'Last 24 Hours',
        color: 'success',
        icon: 'mdi-store',
        title: 'Revenue',
        value: '$34,245',
      },
      {
        actionIcon: 'mdi-history',
        actionText: 'Just Updated',
        color: 'info',
        icon: 'mdi-twitter',
        title: 'Followers',
        value: '+245',
      },
    ],
    tabs: 0,
    tasks: {
      0: [
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: true,
        },
        {
          text: 'Lines From Great Russian Literature? Or E-mails From My Boss?',
          value: false,
        },
        {
          text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
          value: false,
        },
        {
          text: 'Create 4 Invisible User Experiences you Never Knew About',
          value: true,
        },
      ],
      1: [
        {
          text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
          value: true,
        },
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: false,
        },
      ],
      2: [
        {
          text: 'Lines From Great Russian Literature? Or E-mails From My Boss?',
          value: false,
        },
        {
          text: 'Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit',
          value: true,
        },
        {
          text: 'Sign contract for "What are conference organizers afraid of?"',
          value: true,
        },
      ],
    },
  }),

  computed: {
    sales: get('sales/sales'),
    totalSales() {
      return this.sales.reduce((acc, val) => acc + val.salesInM, 0)
    },
  },
}
</script>
