<template>
  <v-card
      class="mb-12"
      color="grey lighten-4"
  >

    <v-row>
      <v-col align-self="center" md="1" sm="1" class="ml-8">
        광고그룹명
      </v-col>
      <v-col md="8" sm="8">
        <v-text-field
            label="광고그룹명을 입력해주세요."
            :value="adgroupName"
        ></v-text-field>
      </v-col>

    </v-row>
    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        기간
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
            광고그룹의 광고노출 기간을 설정합니다.
          </p>
        </v-row>
        <v-row>

          <default-date-picker></default-date-picker>

        </v-row>
      </v-col>

    </v-row>
    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        디바이스
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
            광고 노출을 원하는 디바이스를 선택해 주십시오.
          </p>
        </v-row>
        <v-row>
          <v-radio-group
              v-model="device"
              row
          >
            <v-radio label="버스 디스플레이" color="primary" value="bus"></v-radio>
            <v-radio label="전광판" color="primary" value="digitalsignage"></v-radio>
            <v-radio label="키오스크" color="primary" value="kiosk"></v-radio>
            <v-radio label="TV" color="primary" value="tv"></v-radio>
          </v-radio-group>
        </v-row>

      </v-col>

    </v-row>

    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        광고상품
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
            원하는 형태의 광고상품을 선택하십시오. (단 브랜드 광고는 동영상 광고만 집행 가능합니다.)
          </p>
        </v-row>
        <v-row>
          <v-radio-group
              v-model="priceType"
              row
          >
          <v-radio label="정류장 안내광고" color="primary" value="CPM"></v-radio>
          <v-radio label="브랜드 광고" color="primary" value="CPV"></v-radio>
          </v-radio-group>
        </v-row>
        <v-row>
          <v-col align-self="center" sm="4" md="4">
            선택한 상품의 광고 단가  <v-chip
              class="ma-2"
              color="primary"
          >{{priceType}}</v-chip> :
          </v-col>
          <v-col sm="3" md="3">
            <v-text-field
                          label="광고단가를 입력해주세요"
            ></v-text-field>
          </v-col>


        </v-row>

      </v-col>

    </v-row>


    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        지역
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
            광고노출을 원하는 지역을 선택해 주세요
          </p>
        </v-row>
        <v-row>
          <v-radio-group
              v-model="areaTarget"
              row
          >
            <v-radio label="전체" color="primary" value="all"></v-radio>
            <v-radio label="주소" color="primary" value="addr"></v-radio>
            <v-radio label="권역" color="primary" value="district"></v-radio>
          </v-radio-group>

        </v-row>
        <v-row v-if="areaTarget=='all'">
        </v-row>
        <v-row v-else-if="areaTarget=='addr'">
          <vue-daum-postcode></vue-daum-postcode>
        </v-row>
        <v-row v-else>

            <v-chip-group
                v-model="selectedDistrict"
                column
                multiple
                aria-setsize="23"
            >
              <v-chip
                  filter
                  outlined
                  v-for="district in seoulDistrict" :key="district.id"
              >
                {{ district.name }}
              </v-chip>
            </v-chip-group>
        </v-row>

      </v-col>

    </v-row>

  </v-card>
</template>

<script>
import DefaultDatePicker from "@/layouts/default/DatePicker"
import { VueDaumPostcode } from "vue-daum-postcode"
import {get, sync} from "vuex-pathify";

export default {
  name: "AdgroupAdd",
  components:{DefaultDatePicker,VueDaumPostcode},
  data(){
    return {
      device:'bus',
      priceType:'CPM',
      price:0,
      areaTarget:'all',
      selectedDistrict:[],
      seoulDistrict:[
        {name:'종로구',id:1},
        {name:'성동구',id:2},
        {name:'중랑구',id:2},
        {name:'도봉구',id:2},
        {name:'서대문구',id:2},
        {name:'강서구',id:2},
        {name:'영등포구',id:2},
        {name:'서초구',id:2},
        {name:'강동구',id:2},
        {name:'중구',id:2},
        {name:'광진구',id:2},
        {name:'성북구',id:2},
        {name:'노원구',id:2},
        {name:'마포구',id:2},
        {name:'구로구',id:2},
        {name:'동작구',id:2},
        {name:'강남구',id:2},
        {name:'용산구',id:2},
        {name:'동대문구',id:2},
        {name:'강북구',id:2},
        {name:'은평구',id:2},
        {name:'양천구',id:2},
        {name:'금천구',id:2},
        {name:'관악구',id:2},
        {name:'송파구',id:2},
      ]
    }
  },

  computed:{
    campaignName:{
      get(){
        return this.propData
      } ,
      set(newVal){
        this.$emit('update:dateSetting',newVal);
      }
    },
    adgroupName:{
      get(){
        return this.propData + '_광고그룹#1';
      }
    }
  },
  props:['propData'],
}
</script>

<style scoped>

</style>