<template>
  <v-card
      class="mb-12"
      color="grey lighten-4"
  >

    <v-row>
      <v-col align-self="center" md="1" sm="1" class="ml-8">
        캠페인명
      </v-col>
      <v-col md="8" sm="8">
        <v-text-field
            v-model="campaignName"
            label="캠페인명을 입력해주세요."
        ></v-text-field>
      </v-col>

    </v-row>
    <v-row>
      <v-col align-self="center" md="1" sm="1" class="ml-8">
        광고주
      </v-col>
      <v-col md="6" sm="6">
        <v-autocomplete
            :items="advertiser"
            dense
            filled
            label="광고주를 선택해주세요"
        ></v-autocomplete>
      </v-col>

    </v-row>
    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        기간
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
          캠페인의 광고노출 기간을 설정합니다.
          </p>
        </v-row>
        <v-row>

            <default-date-picker></default-date-picker>

        </v-row>
      </v-col>

    </v-row>
    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        예산
      </v-col>
      <v-col>
        <v-row>
          <p class="text--disabled">
            캠페인 예산을 설정합니다.
          </p>
        </v-row>
        <v-row>
          <v-radio-group
              v-model="budgetType"
              column
          >
            <v-row>
              <v-radio label="총 예산 설정" color="primary" value="total"></v-radio>
              <v-text-field class="ml-8"
                  label="총 예산을 설정해 주세요"
              ></v-text-field>
            </v-row>
            <v-row>
              <v-radio label="일 예산 설정" color="primary" value="daily"></v-radio>
              <v-text-field class="ml-8"
                  label="일 예산을 설정해 주세요"
              ></v-text-field>
            </v-row>

          </v-radio-group>
        </v-row>
      </v-col>

    </v-row>
  </v-card>

</template>

<script>
import DefaultDatePicker from "@/layouts/default/DatePicker";
import {get, sync} from "vuex-pathify";

export default {
  name: "DefaultCampaignAdd",
  components: {DefaultDatePicker},
  data(){
    return {
      advertiser: ['아이비 성형외과','나우누리','혜민안과의원','하선정김치','조이풀티', '안나수이'],
      budgetType: 'total'
    }
  },
  computed:{
    campaignName:{
      get(){
        return this.propData
      } ,
      set(newVal){
        this.$emit('update:dateSetting',newVal);
      }
    }
  },
  props:['propData'],
}
</script>

<style scoped>

</style>