<template>
  <v-col md="5" sm="5">
    <v-menu
        ref="menu1"
        v-model="menu1"
        :close-on-content-click="false"
        transition="scale-transition"
        offset-y
        max-width="290px"
        min-width="auto"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-text-field
            v-model="dateFormatted"
            label="광고 집행 기간"
            hint="YYYY-MM-DD format"
            persistent-hint
            prepend-icon="mdi-calendar"
            v-bind="attrs"
            @blur="date = parseDate(dateFormatted)"
            v-on="on"
        ></v-text-field>
      </template>
      <v-date-picker
          v-model="date"
          range
          @input="menu1 = false"
          locale="ko-kr"
      ></v-date-picker>
    </v-menu>
    <v-col>
      광고 집행 기간은 총 {{period}}일 입니다.
    </v-col>
  </v-col>

</template>

<script>

export default {
  name: "DatePicker",
  data: vm => ({
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    menu2: false,
  }),

  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date)
    }, period() {
      var sdt = new Date(this.date[0]);
      var edt = new Date(this.date[1]);
      var dateDiff = Math.ceil((edt.getTime() - sdt.getTime()) / (1000 * 3600 * 24));

      return dateDiff
    }
  },

  watch: {
    date(val) {
      this.dateFormatted = this.date[0] + ' ~ ' + this.date[1]
    },
  },

  methods: {
    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}/${day}/${year}`
    },
    parseDate(date) {
      if (!date) return null

      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
  },
}
</script>

<style scoped>

</style>