<template>
  <v-card
      class="mb-12"
      color="grey lighten-4"
  >
    <v-row>
      <v-col align-self="center" md="1" sm="1" class="ml-8">
        소재명
      </v-col>
      <v-col md="8" sm="8">
        <v-text-field
            label="소재명을 입력해주세요."
            :value="itemName"
        ></v-text-field>
      </v-col>

    </v-row>

    <v-row>
      <v-col md="1" sm="1" class="ml-8">
        업로드
      </v-col>

      <v-col md="8" sm="8">
        <v-row>
          <p class="text--disabled">
            등록할 소재를 업로드해주세요.
          </p>
        </v-row>

        <v-row>
          <v-img max-width="400"
                 :src="
          require('@/assets/bus.png')"
          />
        </v-row>

        <v-row class="mt-8">
          <v-col md="5" sm="5">
            <v-row>
              <v-file-input
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="정류장 세로형 이미지 광고"
                  v-model="vImage" />
            </v-row>
            <v-row>
                <v-img :src="require('@/assets/vertical.png')" />
                <v-img :src="vImgUrl" style="position: relative; bottom: 226px; left: 272px" max-height="300" max-width="95"/>
            </v-row>

          </v-col>

          <v-col md="5" sm="5" offset-md="2">
            <v-row>
              <v-file-input
                  accept="image/png, image/jpeg, image/bmp"
                  prepend-icon="mdi-camera"
                  label="정류장 가로형 이미지 광고"
                  v-model="hImage" />
            </v-row>
            <v-row>
              <v-img :src="hImgUrl" style="position: relative; top: 220px; left: 16px;" max-width="350" max-height="70"/>
              <v-img :src="require('@/assets/horizontal.png')" />
            </v-row>
          </v-col>

        </v-row>
        <v-row class="mt-8">
          <v-col md="5" sm="5">
            <v-row>
              <v-file-input
                  prepend-icon="mdi-video"
                  label="정류장 동영상 광고"
                  v-model="video" />
            </v-row>
            <v-row>
              <v-img :src="require('@/assets/frame.png')" />
              <video autoplay muted :src="videoUrl" style="position: relative; max-height: 199px; max-width: 500px; left: 14px; bottom: 220px;"></video>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>


  </v-card>

</template>

<script>
export default {
  name: "ItemAdd",
  data() {
    return {
      vImage: null,
      hImage: null,
      video: null,
    }
  },
  computed: {
    vImgUrl() {
      if (!this.vImage) return;
      return URL.createObjectURL(this.vImage);
    },
    hImgUrl() {
      if (!this.hImage) return;
      return URL.createObjectURL(this.hImage);
    },
    videoUrl(){
      if (!this.video) return;
      return URL.createObjectURL(this.video);
    },
    itemName(){
      return '_소재#1'
    }
  }
}
</script>

<style scoped>

</style>